{
	"presets": ["env", "react", "stage-0"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-runtime",
		"react-hot-loader/babel",
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				"style": true
			}
		]
	]
}