.audio-list-component .audio-list {
	padding-top: 2%;
}

.audio-list-component .audio-list-item {
	cursor: pointer;
}

.audio-list-component .return-to-home {
	margin-left: 5px;
}

.audio-list-component .audio-list-item.active {
	color: #fd4c5d;
}