.show-component img {
	margin: 40px;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	animation: rotate-animation 40s infinite linear;
}

.show-component .switch-screen-model {
	margin: 5px;
}

.show-component .music-lyric.music-lyric-vertical {
	padding-top: 2%;
}

.show-component .music-lyric.music-lyric-horizontal {
	padding-top: 3%;
}

.show-component .music-info.music-info-horizontal {
	padding-top: 5%;
}

.show-component .music-cover.music-cover-horizontal {
	padding-left: 10%;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}